.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
data/_mdb_catalog.wt
data/collection-0--727915404134542589.wt
data/collection-2--727915404134542589.wt
data/collection-4--727915404134542589.wt
data/collection-7--727915404134542589.wt
data/index-1--727915404134542589.wt
data/index-3--727915404134542589.wt
data/index-5--727915404134542589.wt
data/index-6--727915404134542589.wt
data/index-8--727915404134542589.wt
data/index-9--727915404134542589.wt
data/mongod.lock
data/sizeStorer.wt
data/storage.bson
data/WiredTiger
data/WiredTiger.lock
data/WiredTiger.turtle
data/WiredTiger.wt
data/WiredTigerHS.wt
